/* >>> >>> >>> >>> >>> login <<< <<< <<< <<< <<< */
.login-structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-bottom: 10px;
    margin: 15px 0;
}

.login-structure * {
    margin: 15px 0;
}

.login-skin {
    background-color: rgba(28, 60, 90, 0.5);
    border: none;
    color: var(--fourth-color);
    letter-spacing: 0.2rem;
    text-decoration-color: var(--fourth-color);
    backdrop-filter: blur(10px);
}

/* >>> >>> >>> >>> >>> novaresTitle <<< <<< <<< <<< <<< */
.novaresTitle-structure {
    width: 100%;
    max-width: 500px;
    height: 15%;
    margin: 0;
}

.novaresTitle-skin {
    background-image: url("../IMG/novareslogo.png");
    background-position: center;
    background-size: cover;
}

/* >>> >>> >>> >>> >>> loginTitle <<< <<< <<< <<< <<< */
.loginTitle-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.loginTitle-skin {
    cursor: pointer;
}

.loginTitle-skin *:hover{
    color: #000;
    text-shadow: 0 0 0.1em #fff, 0 0 0.1em #fff, 0 0 0.1em #fff, 0 0 0.1em #fff;
}

/* >>> >>> >>> >>> >>> button <<< <<< <<< <<< <<< */
.button-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 10rem;
    border: solid 2px var(--fourth-color);
    background-color: var(--first-color);
    color: var(--fourth-color);
    letter-spacing: 0.2rem;
}

.button-skin {
    cursor: pointer;
}

.button-skin:hover {
    box-shadow: #fff 0px 0px 10px 0px;
}

/* >>> >>> >>> >>> >>> inputText <<< <<< <<< <<< <<< */
.inputText-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 10rem;
    letter-spacing: 0.2rem;
}

.inputText-skin {
    border: solid 2px var(--fourth-color);
    background-color: var(--first-color);
    color: var(--fourth-color);
    text-align: center;
    text-decoration-color: var(--fourth-color);
    -moz-text-decoration-color: var(--fourth-color);
}

.inputText-skin:focus {
    box-shadow: #fff 0px 0px 10px 0px;
}

*::selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
}


