.login-skin {
}


/* >>> >>> >>> >>> >>> login y lineMenu <<< <<< <<< <<< <<< */
.login-structure,
.lineMenu-structure {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.login-structure *,
.lineMenu-structure * {
    margin: 15px 0;
}

.login-skin,
.lineMenu-skin {
    border: none;
}

/* >>> >>> >>> >>> >>> novaresTitle <<< <<< <<< <<< <<< */
.novaresTitle-structure {
    width: 100%;
    max-width: 500px;
    height: 15%;
    margin: 0;
}

@media screen and (min-width: 2000px) {
    /* >>> >>> >>> >>> >>> login y lineMenu <<< <<< <<< <<< <<< */
    .login-structure,
    .lineMenu-structure {
        width: 20%;
        height: 60%;
    }
}
