/* >>> >>> >>> >>> >>> login <<< <<< <<< <<< <<< */
.login-structure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 20%;
}

.login-skin {
    background-color: var(--first-color);
    border: solid 2px var(--fourth-color);
    color: var(--fourth-color);
    letter-spacing: 0.2rem;
    border-radius: 1rem;
    text-decoration-color: var(--fourth-color);
    box-shadow: #fff 0px 0px 10px 0px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* >>> >>> >>> >>> >>> button <<< <<< <<< <<< <<< */
.button-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 10rem;
    border: solid 2px var(--fourth-color);
    border-radius: 1rem;
    background-color: var(--first-color);
    color: var(--fourth-color);
    letter-spacing: 0.2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.button-skin {
    cursor: pointer;
}

.button-skin:hover {
    box-shadow: #fff 0px 0px 10px 0px;
}

/* >>> >>> >>> >>> >>> inputText <<< <<< <<< <<< <<< */
.inputText-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 10rem;
    letter-spacing: 0.2rem;
}

.inputText-skin {
    border: solid 2px var(--fourth-color);
    border-radius: 1rem;
    background-color: var(--first-color);
    color: var(--fourth-color);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: center;
    text-decoration-color: var(--fourth-color);
    -moz-text-decoration-color: var(--fourth-color);
}

.inputText-skin:focus {
    box-shadow: #fff 0px 0px 10px 0px;
}

*::selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
}