/* >>> >>> >>> >>> >>> mainContainer <<< <<< <<< <<< <<< */
.mainContainer-structure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "body";
    height: 100vh;
    width: 100vw;
}

.mainContainer-skin {
    font-family: 'Oswald', sans-serif;
}

/* >>> >>> >>> >>> >>> bodyContainer <<< <<< <<< <<< <<< */
.bodyContainer-structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: body;
}

.bodyContainer-skin {
    background-color: var(--first-color);
}
