/* >>> >>> >>> >>> >>> Variables <<< <<< <<< <<< <<< */
:root {
    --first-color: #000000;
    --second-color: #3BACB6;
    --third-color: #82DBD8;
    --fourth-color: #ffffff;

    --title1: 1.5rem;
    --title2: 1.2rem;
    
    --subtitle1: 1.2rem;
    --subtitle2: 1rem;

    --text1: 1rem;
    --text2: 0.8rem;

    --selection-color: #000000;
    --selection-background: #ffffff;
}

html {
    font-size: 16px;
}
